body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
    font-variant: small-caps;
}

.sidebar {
    height: 100vh;
    width: 250px;
    background: linear-gradient(to right, #666666, #3d3c3c);
    color: wheat;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-radius: 0 15px 15px 0;
    overflow-y: auto;
}

.sidebar h4 {
    text-align: center;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 20%;
}

.sidebar .nav-pills {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-link {
    color: wheat;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, padding-left 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #34495e;
}

.sidebar .nav-link.active {
    background-color: #1abc9c;
    font-weight: bold;
}

.sidebar a {
    font-size: 14px !important;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar i {
    font-size: 16px !important;
}

.sidebar a.active {
    background-color: #17a2b8;
    color: white;
    border-radius: 5px;
}

.content {
    margin-left: 270px;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card-img-top:hover::after {
    content: "Click to view full image";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1;
}

/* Custom Scrollbar */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #1abc9c;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #3d3c3c;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }
    .sidebar h4, .sidebar .nav-link span {
        display: none;
    }
    .content {
        margin-left: 80px;
    }
}